mixin datepicker({type="standart", value=""})
    if type == 'standart'
        input(
            type= "text",
            placeholder!= 'ДД.ММ.ГГГГ',
            value!= value,
            class!= attributes.class ? 'datepicker datepicker_standart ' + attributes.class : 'datepicker datepicker_standart',
        )
    else if type == 'mini'
        label.datepicker__wrapper
            input(
                type= "text",
                placeholder!= 'ДД.ММ.ГГГГ',
                value!= value,
                class!= attributes.class ? 'datepicker datepicker_mini ' + attributes.class : 'datepicker datepicker_mini',
            )
    else if type == 'filter'
        label.datepicker__wrapper.datepicker__wrapper_filter
            input(  
                type= "text",
                placeholder!= 'ДД.ММ.ГГГГ',
                value!= value,
                class!= attributes.class ? 'datepicker datepicker_filter ' + attributes.class : 'datepicker datepicker_filter',
            )
    else if type == 'hidden'
        input(
                type= "hidden",
                value!= value,
                class!= attributes.class ? 'datepicker datepicker_mini ' + attributes.class : 'datepicker datepicker_mini',
            )