include ../button/button

mixin dropdown({placeholder, isActive, withButton, items})
    div(class!= isActive ? 'dropdown dropdown_extended-always' : 'dropdown')
        button(type="button", data-initial-value= placeholder).dropdown__button 
            .dropdown__button__text= placeholder
        ul.dropdown__list 
            each item in items
                li.dropdown__item
                    p.dropdown__item-name !{item.itemName}
                    .dropdown__count
                        button(type="button").dropdown__button-minus -
                        input(
                            type="number",
                            data-forms= item.forms,
                            value= item.startAmount, 
                            min= item.minAmount, 
                            max= item.maxAmount, 
                            readonly
                        ).dropdown__count-digit
                        button(type="button").dropdown__button-plus +
            if withButton 
                li.dropdown__item.dropdown__item_solution
                    +button({species: "no-border", text: "Очистить"})(class='dropdown__button-solution dropdown__button-solution_cancel')
                    +button({species: "no-border", text: "Применить"})(class='dropdown__button-solution dropdown__button-solution_confirm')